.pagination {
  margin-top: 20px;
  @include flex;
  width: 300px;
  padding: 10px;
  background-color: $pink;
  background-image: url($background);
  object-fit: cover;
  background-size: cover;
  background-position: top;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 1px 1px 5px 1px $gray;

  &-icon {
    transform: scale(1.5) !important;
  }

  &-page {
    @include text($black, 28px, Calibri);
  }
}
