.link {
  &-icon {
    @include icon($black, $white);

    &.disabled {
      pointer-events: none;
      color: $gray;
    }

    &.dark {
      @include icon;
    }
  }
}


.link.active {
  .link-icon {
    color: $gray;
  }
}