{
  "extends": ["airbnb-base", "plugin:vue/recommended"],
  "env": {
    "browser": true
  },
  "ignorePatterns": ["vite.config.js"],
  "plugins": ["vue"],
  "semi": ["error", "always"],
  "quotes": ["error", "double"],
  "overrides": [
    {
      "files": ["**/*.scss"],
      "processor": "stylelint-processor-scss",
      "extends": ["stylelint-config-standard"]
    }
  ]
}
