@font-face {
	font-family: "Calama Regular";
	src: url("@@/fonts/calama-regular/calama-regular.eot"); /* IE9 Compat Modes */
	src: url("@@/fonts/calama-regular/calama-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("@@/fonts/calama-regular/calama-regular.otf") format("opentype"), /* Open Type Font */
		url("@@/fonts/calama-regular/calama-regular.svg") format("svg"), /* Legacy iOS */
		url("@@/fonts/calama-regular/calama-regular.ttf") format("truetype"), /* Safari, Android, iOS */
		url("@@/fonts/calama-regular/calama-regular.woff") format("woff"), /* Modern Browsers */
		url("@@/fonts/calama-regular/calama-regular.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Fashion Boutique";
	src: url("@@/fashion-boutique/fashion-boutique.eot"); /* IE9 Compat Modes */
	src: url("@@/fashion-boutique/fashion-boutique.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("@@/fashion-boutique/fashion-boutique.otf") format("opentype"), /* Open Type Font */
		url("@@/fashion-boutique/fashion-boutique.svg") format("svg"), /* Legacy iOS */
		url("@@/fashion-boutique/fashion-boutique.ttf") format("truetype"), /* Safari, Android, iOS */
		url("@@/fashion-boutique/fashion-boutique.woff") format("woff"), /* Modern Browsers */
		url("@@/fashion-boutique/fashion-boutique.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}