// colors
$black: #000;
$gray: #686868;
$pink: #ffc0cb;
$red: #ff0000;
$white: #fff;
$whiteCream: #f5f5f5;

// images
$background: '@@/img/background.jpg';

// font-families
$calama: 'Calama Regular'; 
$fashion: 'Fashion Boutique'; 
